*{
    margin: 0;
    padding: 0;
}

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
div.encabezado{
    background-image: url(../imgs/guesteaus.png);
    background-color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
    background-position: center; 
    background-position-y: bottom;
    width: 100%;
    height: auto;
    line-height: 2;

}
div img.logo {
    position: absolute;
    width: 72px; 
    margin-right: 10px;
}

div.menu ul{
    background-color: #a77e58;
}
div.menu ul li{
    padding: 2px 9px;
    border: solid 1px;
    border-color: #5a3e36;
}

div.menu ul li a{
    background-color: #a77e58;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;

    text-decoration: none;
}

div.menu ul li a:hover, div.menu ul li:hover {
    background-color: #5a3e36; 
}


div.contenido{
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;

    float: left;
    width: 70%;
    /*padding: 15px 20px 15px 20px;*/
    text-align: auto
}
div.contenido h1{
    border-bottom: 2px solid #a77e58;
}
div.sidebar{
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;

    float: right;
    width: 25%;
    /*padding: 15px 20px 15px 20px;*/

}
div.sidebar h2{
    border-bottom: 2px solid #a77e58;
}

div.pie{
    background-color: #5a3e36;
    color: #ecdcc6;
    font-size: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
    
}
ul li{
    display: inline-block;
}
div.pie ul{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
div.pie li{
    margin-right: 20px;
}
div.pie ul li a{
    text-decoration: none;
    color: #ecdcc6;
}